<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h2>All Categories</h2>

        <a href="/addcategory" class="btn btn-success mb-3">Add New Category</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="200px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((cat, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= cat.name %>
                        </td>
                        <td>
                            <%= cat.description %>
                        </td>
                        <td>
                            <!-- Edit Page -->
                            <a href="/editcategory/<%= cat._id %>" class="btn btn-warning btn-sm">Edit</a>

                            <!-- Delete Form -->
                            <form action="/deletecategory/<%= cat._id %>" method="POST" style="display:inline-block;">
                                <button class="btn btn-danger btn-sm" onclick="return confirm('Delete this category?')">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>